/***** Photos TEMPLATE *****/
.photo-template-container {
  width: 1200px;
  margin: auto;
  flex-direction: column;
}

.photo-content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.photo-interaction-bar {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
/*** Section GAUCHE ***/
.photo-info-left {
  width: 45%;
  height: calc(100vh - 118px - 120px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

.photo-info-left h2 {
  line-height: 1;
  padding: 20px 0;
}

.photo-info-left p {
  text-transform: uppercase;
  margin: 10px 0;
}

.photo-info-left p a {
  text-decoration: none;
  color: black;
}

/*** Section DROITE ***/
.photo-info-right {
  width: 45%;
}

.photo-info-right img {
  display: block;
  height: calc(100vh - 118px - 120px);
  max-width: 100%;
  object-fit: contain;
}

/* Flèches */
.photo-navigation {
  display: flex;
  gap: 20px;
}

.photo-nav-link:hover .nav-arrow {
  transform: scale(1.1);
}

/*** Contact ***/
.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-link p {
  margin: 0;
}

.contact-modal-trigger {
  padding: 10px 100px;
  background-color: #d8d8d8;
  color: #fff;
  text-decoration: none;
}

.contact-modal-trigger:hover {
  background-color: #e00000;
  color: #fff;
}

/*** Photos apparentées ***/
.related-photos {
  margin-top: 30px;
}

.related-photos h3 {
  margin: 0;
}

.related-photos-grid {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.photo-block img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.photo-block img:hover {
  transform: scale(1.05);
}
