/***** Photos TEMPLATE *****/
/* Styles généraux */
.photo-template-container {
  width: 1200px;
  margin: auto;
  flex-direction: column;
  padding: 0 50px;
}

.photo-content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.photo-interaction-bar {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

/* Section GAUCHE */
.photo-info-left {
  width: 45%;
  height: calc(100vh - 118px - 105px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

.photo-info-left h2 {
  line-height: 1;
  padding: 20px 0;
}

.photo-info-left p {
  text-transform: uppercase;
  margin: 10px 0;
}

.photo-info-left p a {
  text-decoration: none;
  color: black;
}

/* Section DROITE */
.photo-info-right {
  width: 45%;
  display: flex;
  justify-content: center;
}

.photo-info-right img {
  display: block;
  height: calc(100vh - 118px - 105px);
  max-width: 100%;
  object-fit: contain;
}

/* Flèches */
.photo-navigation {
  display: flex;
  gap: 20px;
  position: relative;
}

.photo-nav-link:hover .nav-arrow {
  transform: scale(1.1);
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: none;
}

/* Contact */
.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-link p {
  margin: 0;
}

.contact-modal-trigger {
  padding: 10px 100px;
  background-color: #d8d8d8;
  color: #fff;
  text-decoration: none;
}

.contact-modal-trigger:hover {
  background-color: #e00000;
  color: #fff;
}

/* Photos apparentées */
.related-photos {
  margin-top: 30px;
}

.related-photos h3 {
  margin: 0;
}

.related-photos-grid {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 20px;
}

.photo-block img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.photo-block img:hover {
  transform: scale(1.05);
}

/* Media Queries */

/* Styles pour les téléphones et tablettes */
@media (max-width: 1024px) {
  .photo-template-container {
    width: 100%;
    padding: 0;
  }

  .photo-content-container {
    flex-direction: column;
  }

  .photo-info-right {
    width: 100%;
    order: 1;
    padding: 0 30px;
  }

  .photo-info-right img {
    height: auto;
    width: 100%;
  }

  .photo-info-left {
    width: 100%;
    order: 2;
    height: auto;
    border-bottom: none;
    padding: 0 30px;
  }

  .photo-interaction-bar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    order: 3;
    padding: 20px 30px;
    gap: 0;
  }

  .photo-navigation {
    display: none;
  }

  .related-photos {
    width: 100%;
    order: 4;
    padding: 0 30px;
  }

  .related-photos-grid {
    flex-direction: column;
  }

  .contact-link {
    flex-direction: column;
    gap: 10px;
  }
}
